@charset "UTF8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100;
}

body {
    background-image: ;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: orange;
    text-align: center;
}

h2 {
    color: blue;
}

p {
    text-align: justify;
}